<aside id="sidebar">
  <div class="flex-shrink-0 p-3" style="width: 280px;">
    <a href="{{ url('admin_default') }}" class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom">
      <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-5 fw-semibold">Dashboard</span>
    </a>
    {{ generate_menu() }}
  </div>
</aside>