<section class="py-5 bg-light position-relative" id="contact">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="text-center mb-5">
          <h2 class="mb-3 fw-semibold lh-base">Contactez-moi !</h2>
          <p class="text-muted">Prennons le temps de faire connaissance</p>
        </div>
      </div>
      <div class="row justify-content-lg-center">
        <div class="col-4 col-lg-2">
          <div class="card card-animate">
            <div class="card-body">
              <div class="card-text text-center"><i class="ri-whatsapp-line"></i></div>
              <a href="https://api.whatsapp.com/send?phone={{ APP_PHONE_NUMBER }}&text=Hello Frédérick, " target="_blank" class="contact-link" title="M'envoyer un message sur Whatsapp"></a>
            </div>
          </div>
        </div>
        <div class="col-4 col-lg-2">
          <div class="card card-animate">
            <div class="card-body">
              <div class="card-text text-center"><i class="ri-mail-send-line"></i></div>
              <a href="mailto:{{ APP_EMAIL_CONTACT }}?subject=Demande de contact via agathefrederick.fr&cci=agathefrederick@gmail.com&body=Bonjour Frédérick,%0D%0A Je suis " class="contact-link" title="M'envoyer un e-mail"></a>
            </div>
          </div>
        </div>
        <div class="col-4 col-lg-2">
          <div class="card card-animate">
            <div class="card-body">
              <div class="card-text text-center"><i class="ri-phone-line"></i></div>
              <a href="tel:+{{ APP_PHONE_NUMBER }}" class="contact-link" title="M'appeler"></a>
            </div>
          </div>
        </div>
        <div class="col-4 col-lg-2">
          <div class="card card-animate">
            <div class="card-body">
              <div class="card-text text-center"><i class="ri-linkedin-box-fill"></i></div>
              <a href="{{ APP_LINKEDIN_URL }}" target="_blank" class="contact-link" title="Consulter mon LinkedIn"></a>
            </div>
          </div>
        </div>
        {# <!-- TODO: À remettre quand la page de contact sera prête -->
        <div class="col-4 col-lg-2">
          <div class="card card-animate">
            <div class="card-body">
              <div class="card-text text-center"><i class="ri-contacts-line"></i></div>
              <a href="javascript:void(0);" class="contact-link" title="Me contacter via le formulaire de contact"></a>
            </div>
          </div>
        </div>  #}
      </div>
    </div>
    </div>
</section>