{% extends "auth/layout.html.twig" %}

{% block header %}
  
{% endblock %}


{% block content %}
  {% if tokenValid %}
    {{ form(form) }}
  {% else %}
    <a href="{{ url('auth_forgot_password') }}" class="link mb-3">Me renvoyer un e-mail</a>
  {% endif %}
{% endblock %}

{% block footer %}
  <div class="d-flex flex-column">
    <a href="{{ url('auth_login') }}" class="link mb-3">Annuler</a>
    <a href="#" class="link">
      <i class="bi bi-arrow-left"></i>
      Revenir sur le site 
    </a>
  </div>
{% endblock %}