{% extends "emails/layout.html.twig" %}

{% block body %}
    <p>Bonjour {{ user.username }}, </p>
    <p>La modification de votre mot de passe a bien été pris en compte 👍. <p>
    <p>Connecter-vous <a href={{ url("auth_login") }}>ici</a></p>

    <img src="{{ email.image('logo.png') }}" alt="Logo du site">
{% endblock %}