{% extends "emails/layout.html.twig" %}

{% block body %}
    <p>Bonjour {{ username }}, </p>
    <p>Vous ne vous souvenez plus de votre mot de passe ! Pas de problème, cliquez sur le bouton suivant pour un en créer un nouveau<p>
    <a href="{{ url('auth_reset_password', {t: token}) }}" class="btn btn-primary">Changer mon de passe !</a>

    <img src="{{ email.image('logo.png') }}" alt="Logo du site">
{% endblock %}